<h1>
  Welcome to Code Clans Pizza Shop.
</h1>

<p>
  Below you can delete or edit the order selected.
</p>

<div class="main-container">

    <div class = 'pizza-orders'>
<p>
  Your order was successful!
</p>

<p>
  Total: £<%= @order.total() %>
</p>
<p>
  Please call 0131 290 2600 to pay.
</p>
</div>
</div>
