<!DOCTYPE html>
<html>
  <head>
    <title>Employee Records</title>
    <link href="/style.css" rel="stylesheet" type="text/css" />
    <a href="/">Home</a>
  </head>
  <body>
    <!-- begin inner template-->
    <p>Logged in as: $user <a href="/logout">Logout</a> <p>

    <div class="container">
      #parse( $template )
    </div>
    <!-- end inner template-->
  </body>
</html>