<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Calculator</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/"></a>Home</li>
        <li><a href="/about_us">About Us</a></li>
      </ul>
    </nav>
    <%= yield %>
  </body>
</html>
