form {
    background: url("/images/haddock.jpg") no-repeat center left;
    background-size: 100px;
    height: 100px;
    padding-left: 120px;
}

form input[type="text"] {
    font-size: 2em;
    margin-top: 1em;
    margin-right: 10px;
    border: 1px solid #3066BE;
    color: #3066BE;
}

form input[type="text"]:focus {
    outline: none;
}

form input[type="submit"]{
    font-size: 1em;
    padding: 0.8em;
    position: relative;
    top: -6px;
    -webkit-appearance: none;
    background: #3066BE;
    color: #fff;
    border: none;

}

form input[type="submit"]:hover{
    color: #3066BE;
    background-color: #fff;
    border: 1px solid #3066BE;
    cursor: pointer;
}